{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Lights Out - Running {% endblock %}</h1>
{% endblock %}

{% block content %}
	{% for i in range(rows) %}
		{% for j in range(columns) %}
		<a href="{{url_for('game.state_change',row=i,column=j)}}">
			{% if state[i][j] %}
				<button type="button" style="background-color:white"> ON</button>
			{% else %}
				<button type="button" style="background-color:grey">OFF</button>
			{% endif %}
		</a>
		{% endfor %}
		<br>
	{% endfor %}
{% endblock %}
