{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Lights Out - Running {% endblock %}</h1>
{% endblock %}

{% block content %}
	{% for i in range(rows) %}
		{% for j in range(columns) %}
			<form method ="post" style="display:inline">
				<input type="hidden" name="row" id="row" value={{i}}>
				<input type="hidden" name="column" id="column" value={{j}}>
				{% if state[i][j] %}
					<button style="background-color:white;height:50px;width:50px" value="ON"> ON</button>
				{% else %}
					<button style="background-color:black;height:50px;width:50px;color:white" value="OFF">OFF</button>
				{% endif %}
			</form>
		{% endfor %}
		<br>
	{% endfor %}
{% endblock %}
